:root {
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
}

* {
    font-family: 'Poppins', sans-serif;

}

.h-font {
    font-family: 'Merienda', cursive;
}

.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover {
    background-color: var(--teal_hover);
    border: var(--teal_hover);
}

.h-line {
    width: 250px;
    margin: 10px auto;
    height: 1.7px;
}

.error {
    color: red;
}


.ft a i {
    transition: all .6s ease;
}

.ft a i:hover {
    transform: translateX(18px);
}

div.user{
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.user a{
    color: white;
    text-decoration: none;
}